<footer role="contentinfo">
    <div class="container">
        <div class="left">
            <h5 class="white-text">Exploring the Cold War</h5>
            <p class="grey-text text-lighten-4">We are an international students group from Europe digging through our history</p>
        </div>
        <div class="right">
            <h5 class="white-text">More about us</h5>
            <ul>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Who we are</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Contact us</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Policy</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <a href="{{ .Site.BaseURL }}">
            &copy; {{ now.Format "2006" }} {{ .Site.Title }}
        </a>
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</footer>