<footer role="contentinfo">
        <div class="container">
            <div class="left">
                <a href="https://ec.europa.eu/programmes/erasmus-plus/"><img src="http://www.sepie.es/doc/comunicacion/logos/cofinanciadoEN_derecha.png"></a>
            </div>
            <div class="middle">
                <p>
                    The European Commission support for the production of this publication does not constitute an 
                    endorsement of its contents, which only reflect their authors views. Therefore, the Commission
                    cannot be held responsible for any use which may be made of the information contained therein.
                </p>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="/about">About us</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/policy">Policy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <a href="/">
                © 2019 Exploring the Cold War
            </a>
        </div>
    </footer>