footer {
    width: 100%;
    padding-top: 20px;
    color: white;
    background-color: #90caf9;
    line-height: 1.3;
}

 footer * {
    margin: 0;
}

 footer h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 1.25rem 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
}

 footer p,
 footer a,
 footer a:visited {
    color: rgba(0, 0, 0, 0.59);
}

 footer .container {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1280px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

}

@media (min-width: 993px) {
     footer .container {
        width: 70%;
    }
}

@media (min-width: 601px) {
     footer .container {
        width: 85%;
    }
}

footer .container>* {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer .container .right {
    margin-top: 2rem;
}


footer .container * {
    text-align: center;
}

footer .container .left img {
    width: 100%;
}

@media (min-width: 993px) {
     footer .container>* {
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        justify-content: center;
    }

     footer .container * {
        text-align: start;
    }

    footer .container .left {
        width: 45%;
        flex: 45 45;
    }

     footer .container .middle {
        width: 45%;
        flex: 45 45;
    }

     footer .container .right {
        width: 10%;
        flex: 10 10;
        align-items: flex-end;
        margin: 0;
    }

     footer .container .right ul li {
        text-align: right;
    }
}

 footer .container .right ul {
    list-style-type: none;
    padding: 0;
}

 footer .container .right ul li {
    padding-bottom: 20px;
}

 footer .footer-copyright {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #5d99c6;
}

/*
footer {
    width: 100%;
    padding-top: 20px;
    color: white;
    background-color: #90caf9;
    line-height: 1.3;
}

footer * {
    margin: 0;
}

footer h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 1.25rem 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
}

footer p,
footer a,
footer a:visited {
    color: rgba(0, 0, 0, 0.59);
}

footer .container {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1280px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    
}

@media (min-width: 993px) {
    footer .container {
        width: 70%;
    }
}

@media (min-width: 601px){
    footer .container {
        width: 85%;
    }
}

.container > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
}

.container * {
    text-align: center;
}

@media (min-width: 993px){
    .container > * {
        width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container * {
        text-align: start;
    }

    .container .left {
        flex: 6 6;
    }

    .container .right {
        flex: 4 4;
    }
}

.container .right ul {
    list-style-type: none;
    padding: 0;
}

.container .right ul li {
    padding-bottom: 20px;
}

.footer-copyright {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: rgba(0,0,0,0.7);
    background-color: #5d99c6;
}
*/