.mdc-image-list-wrap--with-text-protection {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

.mdc-image-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.mdc-image-list .mdc-image-list__item {
    width: 100%;
    margin: 2px;
    position: relative;
    background-color: rgba(0, 0, 0, .03);
}

@media (min-width: 601px) {
    .mdc-image-list .mdc-image-list__item {
        width: calc(100% / 3 - 4px);
    }
}

.mdc-image-list .mdc-image-list__image-aspect-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.mdc-image-list .mdc-image-list__image {
    margin: 0;
}

.mdc-image-list .mdc-image-list__supporting {
    position: absolute;
    bottom: 0;
    height: 48px;
    width: 100%;
    padding: 0 16px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    display: flex;
    align-items: center;
}

.mdc-image-list .mdc-image-list__label {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .00937em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mdc-image-list__image-vertical {
    max-height: 230px;
    width: auto;
    margin: 0 auto !important;
}