header {
    min-height: 64px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    display: inline-flex;
    align-items: center;

    padding: 8px 12px;
    /*background-color: #098760;*/
    background-color: #0d47a1;
    color: rgba(255, 255, 255, 1);
    transition: box-shadow .2s linear,-webkit-box-shadow .2s linear;
    z-index: 1;
}

header.scrolled {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

header button.menu {
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

header button.menu:hover {
    cursor: pointer;
}

header button.menu::before,
header button.menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background-color: white;
    opacity: 0;
    transform: scale(0);
}

header button.menu:hover::before {
    opacity: .08;
    transform: scale(1);    
}

header button.menu:focus::before {
    opacity: .24;
    transform: scale(1);
}

header button.menu.active::after {
    transition: transform 225ms ease-in-out,
                opacity 75ms ease-in-out;
    opacity: .32;
    transform: scale(1);

}

header button.menu:focus {
    outline: none;
}

header button.menu::-moz-focus-inner {
    border:0;
}

header button.menu:active{
    padding: 0;
}

@keyframes ripple-in {
    from {
        transform: scale(0);
        opacity: .08;
    }
    to {
        transform: scale(1);
        opacity: .32;
    }
}

header .toolbar__title {
    font-family: "IBM Plex Mono";
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
    padding-left: 20px;
    padding-right: 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

header .toolbar__title a,
header .toolbar__title span {
    font-family: "IBM Plex Mono";
}

main {
    padding-top: 64px;
}