h2.interview-list-heading {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-decoration: inherit;
    text-transform: inherit;
    margin: 0 0 1rem;
}

.interview-single a {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.interview-thumbnail-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem;
}

.interview-thumbnail {
    width: min-content;
    max-width: 100%;
    position: relative;
    display: flex;
}

.interview-thumbnail::before {
    content: '';
    /*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http: //www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"/></svg>');*/
    background-image: url('/assets/icon/round-play_arrow.svg');
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    fill: aquamarine;
}

.interview-thumbnail img{
    max-width: -webkit-fill-available;
}

.interview-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.interview-text h3.interview-title {
    margin: 0;
    font-weight: 300;
}

.interview-text .interview-description {
    margin: .5rem 0 0;
}

@media (min-width: 550px) {
    h2.interview-list-heading {
        margin: 0;
    }

    .interview-single {
        margin-bottom: .5rem;
        border-radius: 5px;
        transition: box-shadow 40ms ease;
    }

    .interview-single:hover {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    .interview-single a {
        margin-bottom: 0;
        flex-direction: row;
        box-shadow: none;
        padding: .5rem;
    }

    .interview-thumbnail-wrapper {
        width: 35%;
        margin: 0 2rem 0 0;
    }

    .interview-text {
        width: 55%;
        text-align: left;
    }
}