{{template "header"}}
<script src="/assets/js/display.js"></script>

<style>
    .pic {
        border-radius: 0.5em;
    }
    #heading {
        border-bottom: 2px solid aliceblue;
    }
</style>
</head>
<body>

<section id="welcome">

    {{template "navigation"}}

    <header id="skimmers" class="container">
        <div class="inner">
            <div id="heading" class="mb-3">
                <p id="topic" class="h1"></p>
            </div>
            <div id="paragraph">
                <p class="font-weight-bold">
                    Everybody knows that music, movies, books, television and other media are not just for fun,
                    and especially during the Cold war, music was a „weapon“ used to manipulate  people. In
                    the Soviet Union all music produced was generally expected to conform to the ideas of the
                    party. Music in the West was anti authoritarian.
                </p>
            </div>

            <div class="text-center mb-3">
                <div class="d-inline-block text-left">
                    <div>
                        <a href="http://3.bp.blogspot.com/-0BsuG3mh694/U_zSuTNx98I/AAAAAAAACqs/WF8au2g_EXY/s1600/RnR-War-headline-sideways.jpg" target="_blank">
                            <img id="pic" class="img-fluid" src="http://3.bp.blogspot.com/-0BsuG3mh694/U_zSuTNx98I/AAAAAAAACqs/WF8au2g_EXY/s1600/RnR-War-headline-sideways.jpg" alt="newspaper">
                        </a>
                    </div>
                    <small class="text-muted">newspaper</small>
                </div>
            </div>


            <div id="show" class="mb-3">
                <a role="button" class="btn btn-primary btn-lg btn-block mb-2" href="#swimmers"
                   onclick="refactorMore('show')">Read On</a>
            </div>
        </div>
    </header>
</section>

<section id="swimmers" class="container pt-4">
    <ul>
        <li>
            The Beatles – USSR „how lucky we are, we are back in the USSR“ (1968)
        </li>
        <li>
            Black Sabbath – Children of the Grave – „revolution in their minds – the children start to
            march, against the world in which they have to live“ (1971)
        </li>
        <li>
            John Lenon – Imgine (1971) – Lennon was asking us to imagine a place where things that
            divide people did not exist.
        </li>
        <li>
            <blockquote class="blockquote">
                <p class="mb-0">„I do not think there are any Russians<br>and there ain´t no Yanks<br>just corporate criminals<br>playin´ with tanks.“</p>
                <footer class="blockquote-footer">The Call – The Walls Came Down (1983)</footer>
            </blockquote>
        </li>
        <li>
            Nena -99 Red Balloons – (1984) – release of 99 balloons triggers governments to scramble
            fighter jets to intercept then, ultimately leading to nuclear war
        </li>
        <li>
            Sting – Russians – (1985)
        </li>
        <li>
            Scorpions – Wind of Change –(1989) – the change in politic is that there is no border anymore
        </li>
    </ul>
    
    <h1>USSR</h1>
    <ul>
        <li>
            <blockquote class="blockquote">
                <p class="mb-0">"Long live our Soviet motherland,<br>Built by the people&#39;s mighty hand.<br>Long live our people, united and free.<br>Strong in our friendship tried by fire.<br>Long may our crimson flag inspire,<br>Shining in glory for all men to see."</p>
                <footer class="blockquote-footer">Alexander Vasilyevich Alexandrov -The Soviet National Anthem – (1944)</footer>
            </blockquote>
        </li>
        <li>
            <blockquote class="blockquote">
                <p class="mb-0">"Let him preserve the Motherland,<br>Same as Katyusha preserves their love."</p>
                <footer class="blockquote-footer">Mikhail Isakovsky – Katyusha</footer>
            </blockquote>
        </li>
    </ul>
    
    <h1>GDR</h1>
    <ul>
        <li>
            <blockquote class="blockquote">
                <p class="mb-0">“Move forward and never forget<br>What makes our strength<br>Whether we´re starving or we´re eating<br>Move forward and never forget the solidarity“</p>
                <footer class="blockquote-footer">Bertholt Brecht - „Solidaritätslied“ (Solidarity song) –(1931)</footer>
            </blockquote>
        </li>
        <li>
            <blockquote class="blockquote">
                <p class="mb-0">“Our Homeland is not only the towns and villages<br>Our Homeland is also all the trees in the forest<br>Our Homeland is the grass in the meadow,<br>the grain in the field and the birds in the air;<br>the animals of the earth and the fishes in the river are the homeland.<br>And we love the beautiful homeland.“</p>
                <footer class="blockquote-footer">Ernst Thälmann- „Unsere Heimat“( Our Homland)-(1951)</footer>
            </blockquote>
        </li>
    </ul>
    
    <h1>ČSR</h1>
    <ul>
        <li>
            <blockquote class="blockquote">
                <p class="mb-0">“The world is different than I used to think:<br>The world&#39;s sadly real!<br>Hollow people want to rule it,<br>Laugh in our eyes,<br>No truth fits them.<br><br>The world is afraid of hollow people:<br>They get into the soul<br><br>When it defends itself,<br>Knife against the throat they put -<br>No truth fits them!“</p>
                <footer class="blockquote-footer">Tublatanka- Pravda víťazí (The Truth wins) –(1989)</footer>
            </blockquote>
        </li>
        <li>
            Robo Grigorov – Pocta Majakovskému
        </li>
    </ul>
</section>

<section id="divers" class="container pt-4 mb-3">
    <p>Further reading:</p>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=x72w_69yS1A" target="_blank">Soviet Union National Anthem</a>
        </li>
        <li>
            <a href="https://www.marxists.org/history/ussr/sounds/lyrics/anthem.htm" target="_blank">Soviet National Anthem Lyrics</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=bcllk8-wEy0" target="_blank">Solidaritätslied - Bert Brecht, gesungen von Ernst Busch</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=YohW_wCbrPA" target="_blank">Pionierlieder - Uns're Heimat</a>
        </li>
        <li>
            <a href="http://lyricstranslate.com/en/pravda-v%C3%AD%C5%A5az%C3%AD-truth-wins.html" target="_blank">Tublatanka - Pravda víťazí! (Lyrics, English translation)</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=kJucQNdBJo4" target="_blank">Tublatanka - Pravda víťazí (full version)</a>
        </li>
    </ul>
</section>

<div id="hide" class="container mb-3">
    <a role="button" class="btn btn-outline-secondary btn-lg btn-block mb-2" href="#"
       onclick="refactorMore('hide')">Read Less</a>
</div>

<script>
    //hide the swimmers section OnLoad
    document.getElementById('swimmers').style.display = "none";
    document.getElementById('divers').style.display = "none";
    document.getElementById('hide').style.display = "none";
</script>

{{template "footer"}}
