{{template "header"}}
<script src="/assets/js/display.js"></script>

<style>
    #pic {
        border-radius: 0.5em;
    }
    #heading {
        border-bottom: 2px solid aliceblue;
    }
</style>
</head>
<body>

<section id="welcome">

    {{template "navigation"}}

    <header id="skimmers" class="container">
        <div class="inner">
            <div id="heading" class="mb-3">
                <p id="topic" class="h1">Living under communism</p>
            </div>
            <div id="paragraph">
                <p class="font-weight-bold">
                    These cruel times occurred right after the Second World War and
                    gradually spread into the countries which were controlled by USSR. It
                    immediately affected people&#39;s lives in many ways such as economic,
                    cultural or religious. However, the worst thing of this regime was the
                    lack of freedom in everyday life.
                </p>
            </div>

            <div class="text-center mb-3">
                <div class="d-inline-block text-left">
                    <div>
                        <a href="" target="_blank">
                            <img class="img-fluid pic" src="" alt="">
                        </a>
                    </div>
                    <small class="text-muted"></small>
                </div>
            </div>


            <div id="show" class="mb-3">
                <a role="button" class="btn btn-primary btn-lg btn-block mb-2" href="#swimmers"
                   onclick="refactorMore('show')">Read On</a>
            </div>
        </div>
    </header>
</section>

<section id="swimmers" class="container pt-4">
    <div class="card border-warning mb-3">
        <div class="card-body text-warning">
            <h4 class="card-title">Work in progress</h4>
            <p class="card-text">We are really sorry not being able at the time to tell you some more information about
                this topic.</p>
        </div>
    </div>
</section>

<section id="divers" class="container pt-4">
    <p>Further reading:</p>
    <p>at the time you need to be satisfied with the content above, but soon here will be some links to further reading</p>
</section>

<div id="hide" class="container mb-3">
    <a role="button" class="btn btn-outline-secondary btn-lg btn-block mb-2" href="#"
       onclick="refactorMore('hide')">Read Less</a>
</div>

<script>
    //hide the swimmers section OnLoad
    document.getElementById('swimmers').style.display = "none";
    document.getElementById('divers').style.display = "none";
    document.getElementById('hide').style.display = "none";
</script>

{{template "footer"}}
© 2018 Git
