:root {
    --main-primary: #194171;
    --main-primary-light: #4d6ba0;
    --main-primary-dark: #001b45;
    --main-secondary: #F39C2E;
    --main-secondary-light: #ffcd60;
    --main-secondary-dark: #bb6d00;
    --main-background: #eeeeee;
    --main-background-light: #efefef;
    --main-background-dark: #e0e0e0;
    --main-button-color: rgba(0, 0, 0, 0.54);
    --main-button-light-on-light-color: rgba(255, 255, 255, 1);
    --main-text-primary-on-light: rgba(0, 0, 0, o.87);
    --main-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --main-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --main-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --main-text-divider-on-light: rgba(0, 0, 0, 0.12);
    --main-text-disabled-on-light: rgba(0, 0, 0, 1);
    --main-text-disabled-on-light: rgba(0, 0, 0, 0.70);
    --main-text-disabled-on-light: rgba(0, 0, 0, 0.50);
    --main-text-disabled-on-light: rgba(0, 0, 0, 0.50);
    --main-text-disabled-on-light: rgba(0, 0, 0, 0.12);
    --main-text-primary-light-on-light: rgba(255, 255, 255, 0.87);
}

* {
    color: inherit;
    /*font: inherit;*/
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    padding: 72px 16px 100px;
}

button {
    appearance: none;
    -webkit-appearance: none;
    background: inherit;
    color: inherit;
    border: none;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.img-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin-bottom: 1rem;    
}

img {
    width: fit-content;
    max-width: 100%;
    border-radius: 3px;
    display: block;
    margin-bottom: 1rem;
}

.img-container small{
    text-align: center;
}

.header-img {
    margin-top: 2rem;
    margin-bottom: 0;
}

#diver > ul > li {
    margin-bottom: .5rem;
}

#diver > ul > li:hover {
    cursor: pointer;
}


#diver > ul > li > a {
    line-height: 1.25em;
    color: #c49000;
}