{{ define "main"}} {{.Content}}
<style>
    .mdc-typography--headline6 {
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: .0125em;
    }

    .mdc-typography--headline5,
    .mdc-typography--headline6 {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 2rem;
        text-decoration: inherit;
        text-transform: inherit;
    }

    .demo-title {
        border-bottom: 1px solid rgba(0, 0, 0, .87);
    }

    .mdc-typography--subtitle1,
    .mdc-typography--subtitle2 {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-decoration: inherit;
        text-transform: inherit;
    }

    .mdc-typography--subtitle1 {
        font-size: 1rem;
        line-height: 1.75rem;
        font-weight: 400;
        letter-spacing: .00937em;
    }
</style>

<h2 class="demo-title mdc-typography--headline6">Choose a topic</h2>
<div>
    <menu class="mdc-image-list standard-image-list mdc-image-list--with-text-protection">
        <h3 class="mdc-typography--subtitle1">Political articles</h3>
        <section id="menu-political">
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="http://i.idnes.cz/10/091/org/JB358e96_01.jpg" alt="Berlin Wall and reunification">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Berlin Wall and reunification</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img src="http://mediad.publicbroadcasting.net/p/radiowest/files/201710/101217_chains.jpg" alt="Uprising in the eastern block">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Uprising in the eastern block</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="http://1.bp.blogspot.com/-aDapwWKFHIY/VHGF-BlrF4I/AAAAAAAAj4k/0DdY4AjEI3s/s1600/fidel-castro-john-f-kenne"
                        alt="Cuba">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Cuba</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://timedotcom.files.wordpress.com/2015/06/korea.jpeg"
                        alt="Korean War">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Korean War</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="http://www.sbs.com.au/news/sites/sbs.com.au.news/files/styles/full/public/vietnam_8.jpg"
                        alt="Vietnam">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Vietnam</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Dragonrouge2.jpg"
                        alt="Africa & Latin America">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Africa & Latin America</span>
                </div>
            </article>
        </section>

        <!-- ******************************************************************************************************************* -->
        <h3 class="mdc-typography--subtitle1">Social articles</h3>
        <section id="menu-social">
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://76crimes.files.wordpress.com/2014/09/freedom-sudan-image.jpg"
                        alt="Freedom">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Freedom</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://api.culture.pl/sites/default/files/images/imported/inne/PRL_ODDITIES/wroclaw-moda-polska-1982-fot-chris-niedenthal-forum.jpg" alt="Living under communism">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Living under communism</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://mobimg.b-cdn.net/androidgame_img/spy_vs_spy/real/2_spy_vs_spy.jpg"
                        alt="Espionage">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Espionage</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://thaipoliticalprisoners.files.wordpress.com/2011/01/censorship-1.gif"
                        alt="Propaganda and censorship">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Propaganda and censorship</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="http://www.theindependentbd.com/assets/news_images/space-race.jpg" alt="Space race">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Space race</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://thesaintspub.files.wordpress.com/2015/09/pope-john-paul-in-poland1.jpg"
                        alt="Religion">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Religion</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://ushcoldwar.weebly.com/uploads/1/6/1/7/16176210/9469936.jpg?504"
                        alt="Sport">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Sport</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="https://i1.wp.com/collegetribune.ie/wp-content/uploads/2017/02/Protest.jpg?resize=1050%2C700"
                        alt="Counter culture">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Counter culture</span>
                </div>
            </article>
            <article class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="http://www.laitdanceclub.co.uk/wp-content/uploads/2016/11/rock.jpg" alt="Pop culture">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Pop culture (music)</span>
                </div>
            </article>
        </section>
    </menu>
</div>

{{end}}