{{ define "main"}} {{.Content}}
<style>
    .mdc-typography--headline6 {
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: .0125em;
    }

    .mdc-typography--headline5,
    .mdc-typography--headline6 {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 2rem;
        text-decoration: inherit;
        text-transform: inherit;
    }

    .demo-title {
        border-bottom: 1px solid rgba(0, 0, 0, .87);
    }

    .mdc-typography--subtitle1,
    .mdc-typography--subtitle2 {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-decoration: inherit;
        text-transform: inherit;
    }

    .mdc-typography--subtitle1 {
        font-size: 1rem;
        line-height: 1.75rem;
        font-weight: 400;
        letter-spacing: .00937em;
    }

    menu section#menu-social {
        margin-bottom: 0;
    }
</style>

<h2 class="demo-title mdc-typography--headline6">Choose a topic</h2>
<div>
    <menu class="mdc-image-list-wrap--with-text-protection">
        <h3 class="mdc-typography--subtitle1">Political articles</h3>
        <section id="menu-political" class="mdc-image-list">
            <article class="mdc-image-list__item">
                <a href="political/berlin-wall">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image mdc-image-list__image-vertical"
                            src="https://www.hdg.de/lemo/img_hd/bestand/objekte/geteiltesdeutschland/geteiltes-deutschland_plakat_1993-07-620.jpg"
                            alt="Berlin Wall and reunification">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Berlin Wall and reunification</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="political/uprising">
                    <div class="mdc-image-list__image-aspect-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/10_Soviet_Invasion_of_Czechoslovakia_-_Flickr_-_The_Central_Intelligence_Agency.jpg"
                            alt="Uprising in the eastern block">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Uprising in the eastern block</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="political/cuba">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://live.staticflickr.com/1816/29119891517_9ff1ab84f1_b.jpg" alt="Cuba">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Cuba</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="political/korea">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://timedotcom.files.wordpress.com/2015/06/korea.jpeg" alt="Korean War">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Korean War</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="political/vietnam">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://upload.wikimedia.org/wikipedia/commons/7/76/Bruce_Crandall%27s_UH-1D.jpg"
                            alt="Vietnam">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Vietnam</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="political/africa">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://upload.wikimedia.org/wikipedia/commons/a/af/Dragonrouge2.jpg"
                            alt="Africa & Latin America">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Africa & Latin America</span>
                    </div>
                </a>
            </article>
        </section>

        <!-- ******************************************************************************************************************* -->
        <h3 class="mdc-typography--subtitle1">Social articles</h3>
        <section id="menu-social" class="mdc-image-list">
            <a href="social/freedom">
                <article class="mdc-image-list__item">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://76crimes.files.wordpress.com/2014/09/freedom-sudan-image.jpg" alt="Freedom">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Freedom</span>
                    </div>
            </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/livingundercommunism">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Kolejka.jpeg"
                            alt="Living under communism">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Living under communism</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/espionage">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image" src="/assets/img/spy.jpg" alt="Espionage">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Espionage</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/propagandacensorship">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://thaipoliticalprisoners.files.wordpress.com/2011/01/censorship-1.gif"
                            alt="Propaganda and censorship">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Propaganda and censorship</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/spacerace">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="http://www.theindependentbd.com/assets/news_images/space-race.jpg" alt="Space race">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Space race</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/religion">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://upload.wikimedia.org/wikipedia/commons/8/80/Pope_John_Paul_II_%281979%29.jpg"
                            alt="Religion">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Religion</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/sports">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://ushcoldwar.weebly.com/uploads/1/6/1/7/16176210/9469936.jpg?504" alt="Sport">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Sport</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/counterculture">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Woodstock_redmond_crowd.JPG"
                            alt="Counter culture">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Counter culture</span>
                    </div>
                </a>
            </article>
            <article class="mdc-image-list__item">
                <a href="social/popculture">
                    <div class="mdc-image-list__image-aspect-container">
                        <img class="mdc-image-list__image"
                            src="https://live.staticflickr.com/3040/2582085749_49850842ba_b.jpg" alt="Pop culture">
                    </div>
                    <div class="mdc-image-list__supporting">
                        <span class="mdc-image-list__label">Pop culture (music)</span>
                    </div>
                </a>
            </article>
        </section>
    </menu>
</div>

{{end}}