{{template "header"}}
<script src="/assets/js/display.js"></script>

<style>
    #pic {
        border-radius: 0.5em;
    }
    #heading {
        border-bottom: 2px solid aliceblue;
    }
</style>
</head>
<body>

<section id="welcome">

    {{template "navigation"}}

    <header id="skimmers" class="container">
        <div class="inner">
            <div id="heading" class="mb-3">
                <p id="topic" class="h1">Cuba</p>
            </div>
            <div id="paragraph">
                <p class="font-weight-bold">
                    In 1959, Fidel Castro became the leader of Cuba, and later on April 17, 1961,
                    Cuban exiles trained by the CIA led the failed Bay of Pigs invasion to overthrow Fidel
                    Castro. In October 1962, the US spotted Soviet nuclear weaponry on Cuba causing
                    the US to blockade Cuba, leading to worldwide terror of nuclear warfare called the
                    Cuban Missile Crisis.
                </p>
            </div>

            <div class="text-center mb-3">
                <div class="d-inline-block text-left">
                    <div>
                        <a href="https://dialogardialogar.files.wordpress.com/2013/11/fidel-castro-john-f-kennedy.jpg" target="_blank">
                            <img id="pic" class="img-fluid" src="https://dialogardialogar.files.wordpress.com/2013/11/fidel-castro-john-f-kennedy.jpg" alt="fidel castro & j. f. kennedy">
                        </a>
                    </div>
                    <small class="text-muted">Fidel Castro and John F. Kennedy</small>
                </div>
            </div>


            <div id="show" class="mb-3">
                <a role="button" class="btn btn-primary btn-lg btn-block mb-2" href="#swimmers"
                   onclick="refactorMore('show')">Read On</a>
            </div>
        </div>
    </header>
</section>

<section id="swimmers" class="container pt-4">
  <p>
    In 1959, Fidel Castro became the leader of Cuba after overthrowing Fulgencio
    Batista—causing distrust between the USA and Cuba due to Castro being a
    Communist. This lead to a failed attempt to overthrow Fidel Castro, called the Bay of
    Pigs, on April 17, 1961. The idea to train Cuban exiles to overthrow Fidel Castro was
    originally Dwight Eisenhower’s idea; but since Eisenhower left office, JFK was the
    one blamed for this “botched invasion.”
  </p>
  <blockquote class="blockquote">
      <p class="mb-0">
        “In October 1962, an American U-2 spy plane secretly photographed nuclear missile sites being built
        by the Soviet Union on the island of Cuba.”
      </p>
      <a href="www.jfklibrary.org/JFK/JFK-in- History/Cuban-Missile- Crisis.aspx." target="_blank">
          <footer class="blockquote-footer">“Cuban Missile Crisis”, John F. Kennedy Presidential Library and Museum</footer>
      </a>
  </blockquote>
  <p>
    As a result of this, President Kennedy placed a blockade
    around Cuba to stop the importation of more Soviet weapons. This event, called the
    Cuban Missile Crisis, caused people around the world to be in constant terror for
    several months until JFK demanded for Khrushchev, the leader of the Soviet Union
    at that time, to remove all signs of nuclear weaponry on Cuba. The Soviet Union and
    the United States signed a deal to remove all of the Soviet weapon sites on Cuba in
    return for the USA not invading Cuba. In a separate deal, the Soviet Union secretly
    asked the US to remove their nuclear armaments from Turkey as well.
  </p>
</section>

<section id="divers" class="container pt-4">
    <p>Further reading:</p>
    <p>at the time you need to be satisfied with the content above, but soon here will be some links to further reading</p>
</section>

<div id="hide" class="container mb-3">
    <a role="button" class="btn btn-outline-secondary btn-lg btn-block mb-2" href="#"
       onclick="refactorMore('hide')">Read Less</a>
</div>

<script>
    //hide the swimmers section OnLoad
    document.getElementById('swimmers').style.display = "none";
    document.getElementById('divers').style.display = "none";
    document.getElementById('hide').style.display = "none";
</script>

{{template "footer"}}
