{{template "header"}}
<script src="/assets/js/display.js"></script>

<style>
    #pic {
        border-radius: 0.5em;
    }
    #heading {
        border-bottom: 2px solid aliceblue;
    }
</style>
</head>
<body>

<section id="welcome">

    {{template "navigation"}}

    <header id="skimmers" class="container">
        <div class="inner">
            <div id="heading" class="mb-3">
                <p id="topic" class="h1">Korea</p>
            </div>
            <div id="paragraph">
                <p class="font-weight-bold">
                    On 25th June 1950, the Korean War started as a result of many soldiers from the North and South crossing the border. 
                    The fear of communism taking over the world forced America to intervene, this was the first military action taken during the Cold War. 
                    It was only ended in an armistice on 27th July 1953.
                </p>
            </div>

            <div class="text-center mb-3">
                <div class="d-inline-block text-left">
                    <div>
                        <a href="https://timedotcom.files.wordpress.com/2015/06/korea.jpeg" target="_blank">
                            <img id="pic" class="img-fluid" src="https://timedotcom.files.wordpress.com/2015/06/korea.jpeg" alt="military in korea">
                        </a>
                    </div>
                    <small class="text-muted">Military in Korea</small>
                </div>
            </div>


            <div id="show" class="mb-3">
                <a role="button" class="btn btn-primary btn-lg btn-block mb-2" href="#swimmers"
                   onclick="refactorMore('show')">Read On</a>
            </div>
        </div>
    </header>
</section>

<section id="swimmers" class="container pt-4">
  <ul>
    <li>
      In 1945 Korea was divided into North and South, the North was supported by Russia and the South was supported by the USA.
      The 38th parallel divides communist North Korea and anti-communist South Korea.
    </li>
    <li>
      Russia gave permission for North Korea to invade South Korea
    </li>
    <li>
      South Korea’s army was not strong enough to hold back the North Korean People’s Army therefore they were able to take control of Seoul
    </li>
    <li>
      The USA stepped in as they did not want South Korea to become communist aswell
    </li>
    <li>
      <blockquote class="blockquote">
        <p class="mb-0">“If we let Korea down, the Soviets will keep right on going and swallow up one place after another.”</p>
        <footer class="blockquote-footer"><a href="http://www.history.com/topics/us-presidents/harry-truman" target="_blank">President Harry Truman</a></footer>
    </li>
  </ul>
</section>

<section id="divers" class="container pt-4">
    <p>Further reading:</p>
    <p>at the time you need to be satisfied with the content above, but soon here will be some links to further reading</p>
</section>

<div id="hide" class="container mb-3">
    <a role="button" class="btn btn-outline-secondary btn-lg btn-block mb-2" href="#"
       onclick="refactorMore('hide')">Read Less</a>
</div>

<script>
    //hide the swimmers section OnLoad
    document.getElementById('swimmers').style.display = "none";
    document.getElementById('divers').style.display = "none";
    document.getElementById('hide').style.display = "none";
</script>

{{template "footer"}}
