@import "./palette";

$mdc-theme-primary: $light-blue-800;
$mdc-theme-primary-light: #58a5f0;
$mdc-theme-primary-dark: #004c8c;

$mdc-theme-secondary: $amber-600;
$mdc-theme-secondary-light: #ffe54c;
$mdc-theme-secondary-dark: #c68400;

$mdc-theme-background: $white;

@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";


.button {
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
}

.mdc-toolbar__title {
    font-family: "IBM Plex Mono";
}

//single page
section#skimmer {
    padding-top: 1.5rem;
}

section#skimmer > h1 {
    border-bottom: 2px solid lightsteelblue;
    padding-left: 0.5rem;
    margin-bottom: 2px;
}

section#skimmer > h1 + small {
    font-size: 0.75rem;
    float: right;
}

section#skimmer > div {
    margin-top: 1.5rem;
}

section#skimmer > div > small {
    display: block;
    @include mdc-theme-prop(color, text-secondary-on-light);
}