<aside>
    <h1>Navigation</h1>
    <nav>
        <ul>
            {{ range . }}
            <li {{ if .HasChildren }} class="slide" {{ end }}>
                {{ if .HasChildren }}
                <span>{{ .Name }}</span>
                <ul>
                    {{ range .Children }}
                    <li {{ if .HasChildren }} class="slide" {{ end }}>
                        {{ if .HasChildren }}
                        <span>{{ .Name }}</span>
                        <ul>
                            {{ range .Children }}
                            <li>
                                <a href="{{.URL}}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ else }}
                        <a href="{{.URL}}">{{ .Name }}</a>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{else}}
                <a href="{{.URL}}">{{ .Name }}</a>                
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </nav>
</aside>