<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" "About Us"}}
    <link rel="stylesheet" href="/article/assets/css/footer.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            width: 100%;
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>SCHOOL INFORMATION</h1>

    <main>
        <a href="http://www.gamodiana.es/"><h2>GAMO DIANA (SPAIN)</h2></a>
        <p>
            Gamo Diana is a state-funded primary and secondary school run by the Catholic order of the Redemptorists in
            Aluche, Madrid. We aim to prepare our students to be active participants in an ever-changing world, to be
            critical and committed citizens.
        </p>

        <a href="https://cojobo.net"><h2>COLLEGIUM JOSEPHINUM (GERMANY)</h2></a>
        <p>
            Collegium Josephinum Bonn is a Catholic secondary school (Gymnasium) for boys only, run by the Catholic
            order of the Redemptorists, located in the north of Bonn. Focusing on natural sciences, classical and
            modern languages. The school puts special emphasis on general and Christian education, as well as social
            projects.
        </p>
        <a href="http://www.rydalpenrhos.com/"><h2>RYDAL PENRHOS (WALES, UK)</h2></a>
        <p>
            Independent School with nursery, primary and secondary provision. The school is a charitable Trust
            established by the Methodist Church. The school is very international with a number of international
            boarding students coming from over 20 countries, as well as day pupils from the area.
        </p>

        <a href="https://www.sksnemsova.sk/"><h2>KATOLÍCKA SPOJENÁ ŠKOLA (SLOVAKIA)</h2></a>
        <p>
            Gymnazium sv. Cyrila a Metoda is a Catholic foundation boarding school with a mix of boarders and day
            students. The school focuses on natural sciences and modern languages. As a Catholic school we put
            particular emphasis on the spiritual and moral formation of students and teachers.
        </p>
    </main>

    {{template "footer"}}
</body>

</html>