{{template "header"}}

</head>
<body>

    {{template "navigation"}}
    <section class="container mb-5">
        <div class="card border-danger mb-3">
            <div class="card-body text-danger">
                <h4 class="card-title">Work in progress</h4>
                <p class="card-text">Sorry, but here is no content yet. Try again another time!</p>
                <a role="button" class="btn btn-success btn-lg btn-block mb-2" href="/">Choose another topic</a>
            </div>
        </div>
    </section>

</body>

{{template "footer"}}