{{template "header"}}

    <style>
        .nav-link {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

</head>
<body>
    {{template "navigation"}}

    <section id="heading" class="container mb-5">
        <h1 class="h1">Dear visitor!</h1>
        <p>
            Welcome to our webpage! You are invited to explore the most important facts about the "Cold War".
            We are sure that you'll learn a lot of interesting and exciting aspects of a period that has influence until
            today. "Explore" means: Find your own way through the network of pictures, films, explanations and
            interviews with witnesses.
        </p>
    </section>

    <!--
    <section class="container mb-3">
        <div class="row">
            <div class="col-md-6 ">
            <h1 class="h1">Political</h1>
            </div>
            <div class="col-md-6">
                <h1 class="h1">Social</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2" href="/political/vietnam">Vietnam</a>
            </div>
        </div>
        </div>

        <div class="col-md-6 row">
            <div class="col-md-6">
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2" href="/social/espionage">Espionage</a>
            </div>
        </div>

    </section>
    -->

    <section class="container mb-3">
        <div class="row">
            <!-- political -->
            <div class="col-md-6 ">
                <h1 class="h1 text-center">Political</h1>

                <div>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/political/berlin-wall">Berlin Wall and reunification</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/political/cuba">Cuba</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/political/korea">Korea</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/political/africa">Africa & latin-america</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/political/vietnam">Vietnam</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/political/uprising">Uprising in the eastern block</a>
                </div>
            </div>

            <!-- social -->
            <div class="col-md-6">
                <h1 class="h1 text-center">Social</h1>

                <div>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/sport">Sport</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/religion">Religion</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/espionage">Espionage</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/space-race">Space race</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/propaganda">Propaganda and censorship</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/under-communism">Living under communism</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/counter-culture">Counter culture</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/pop-culture">Pop culture (musics)</a>
                    <a role="button" class="btn btn-outline-info btn-lg btn-block mb-2 nav-link" href="/social/freedom">Freedom</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        if (window.location.search.contains("info=1")){
            let infoContainer = document.querySelector("#timeline");
        }
    </script>

    {{template "footer"}}