{{template "header"}}
<link rel="stylesheet" type="text/css" href="/assets/css/login.css">

</head>
<body>

<form class="form-signin" method="post" accept-charset="utf-8" action="/login">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
    {{if .}}
        <p class="text-danger">wrong password</p>
    {{end}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

{{template "footer"}}