<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cold War | Long introduction</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <style>
        header {
            height: 64px;
        }

        h2 {
            font-size: 3.75rem;
            line-height: 3.75rem;
            letter-spacing: -.0083333333em;
            font-weight: 300;
        }

        .diver li {
            margin-bottom: .5rem;
        }

        .diver li a {
            line-height: 1.25em;
            color: #c49000;
        }
    </style>
</head>

<body>
    <header>

        <button class="material-icons mdc-toolbar__menu-icon menu menu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <h1 class="toolbar__title"><a href="/">Cold War</a><span> > </span><a href="/resources">Resources</a><span>
                > </span><a href="/resources/introduction">Long introduction</a></h1>
    </header>
    <main>
        <h2>Long introduction</h2>
        <article class="text">
            <p>
                The Cold War began shortly after World War II when the winning allied powers (principally US, Great
                Britain and Stalin’s Soviet Union and others) broke up, because of its ideological contradictions and
                political differences. As a consequence, the super powers, the USA and the USSR, opposed each other in
                an undeclared war and set up power blocs including their allies for more than 40 years. Every so often
                fights broke out in the periphery of their spheres of influence, e.g. in Korea and Vietnam, but an open
                confrontation of both main antagonists never happened. This was prevented by a balance of terror: The
                open (and believable) threat that an attack of one power would be answered by nuclear bombs of the other
                - and hence the end of human civilisation would have come.
            </p>
            <p>
                Historians tell us that the Cold War ended when in the 1980s the Soviet Union was weakened by a severe
                economic and social crisis in such a way that they were not able anymore to keep up with the vastly
                expensive arms race - and thus imploded.
            </p>
            <p>
                The Cold War seemed to be a closed chapter of history, but now the number of indications increase that
                the
                Cold War in reality did not end in December 1991 with the break-up of the USSR, but is now continued
                after a
                short phase of silence: The "New York Times" writes about a "Cold War flashback" in the patterns of the
                past, and even the new national anthem of Russia again sounds like the melody of the one introduced by
                Soviet dictator Joseph Stalin in 1944. But this is not all: Again, an autocrat rules in the Kremlin, a
                former KGB-officer with almost unlimited power supported by the dominance of one party. Once again the
                Russian secret service liquidates ex-agents in the west. As a consequence, the well-known patterns of
                the
                past resume with expulsions and counter-expulsions of diplomatic personnel.
            </p>
            <p>
                Due to the many Russian military manoeuvres, Washington has decided on an immense increase of its
                military
                budget, including its nuclear armament. Aggressive rhetoric has gained ground on both sides, and again,
                there are bloody proxy wars in Syria and Ukraine. Today there is no ideological background anymore, but
                there is still alarming evidence that the Cold War has not really ended (or has possibly started again
                in a
                new round). Therefore, our webpage could be much more relevant than we initially thought it would be.
            </p>
            <p class="source">(text in parts adapted from Geo Epoche, 2018)</p>
        </article>

        <section class="diver">
            <p>Watch these videos to learn more:</p>
            <ul>
                <li><a href="https://youtu.be/HpYCplyBknI">From World War to Cold War</a></li>
                <li><a href="https://youtu.be/7vdXLkWUjrU">Containment</a></li>
                <li><a href="https://youtu.be/Dg-I6_j2NfA">Red star rising</a></li>
                <li><a href="https://youtu.be/Whov9bVT_3o">Reds under the bed</a></li>
                <li><a href="https://youtu.be/BY1VWLbY0-A">Confrontation or coexistance</a></li>
                <li><a href="https://youtu.be/FPHcgbl-afY">Cracks in the curtain</a></li>
                <li><a href="https://youtu.be/vke6WoAhRBs">Third world wars</a></li>
                <li><a href="https://youtu.be/gXjuXyf16tw">Kennedy and crises</a></li>
                <li><a href="https://youtu.be/FAhDQxPHvP0">Detente</a></li>
                <li><a href="https://youtu.be/WXJxYNyPJMk">The Evil Empire</a></li>
            </ul>
        </section>

    </main>
    {{template "footer"}}
    <script src="/article/assets/js/header.js"></script>

</body>

</html>